<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<true/>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://www.dropbox.com/s/7ik8zxm0j19c6zz/</string>
		<key>displayImageURL</key>
		<string>https://www.dropbox.com/s/7ik8zxm0j19c6zz/</string>
		<key>fullSizeImageURL</key>
		<string>https://www.dropbox.com/s/7ik8zxm0j19c6zz/</string>
	</dict>
	<key>method</key>
	<string>ad-hoc</string>
	<key>signingStyle</key>
	<string>automatic</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>6C6LAHKF8X</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
